@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&display=swap');
body{
    background-color:#A07855FF;
    font-family: 'Bebas Neue', cursive;
 
}

.stupid{
    width: 600px;
    height: 300px;
   
    background-color:#D4B996FF;
}

.title{
    text-align:center;
    font-size:80px;
    font-family: 'Bebas Neue', cursive;
    background-color:#D4B996FF;
}
.quote1{
    text-align:center; 
    background-color:#D4B996FF;
    font-family: 'Bebas Neue', cursive;
    font-size:50px; 
}
.firstSec{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}
img{
    border:4px solid black;
}

h1{
    border:4px solid black;
    text-align:center; 
    background-color:#D4B996FF;
    color:blue; 
}

button{
    font-family: 'Bebas Neue', cursive;
    background-color:#D4B996FF;
    font-size: 30px; 
}

.firstT{
    font-family: 'Bebas Neue', cursive;
    margin-left:170px; 
    margin-top:90px; 
    margin-bottom:90px; 
    padding:60px; 
    background-color:#D4B996FF;
    color:black; 
    font-size:43px; 
}

.secondSec{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.SecondT{
    font-size:37px; 
    margin-right:20px; 
    margin-top:90px; 
    margin-bottom:120px; 
    padding:40px; 
    padding-top:70px; 
    background-color:#D4B996FF; 
    color:black; 
}

.secondImg{
    margin-left:10px; 
    border:4px solid black;
}


.thirdSec{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.thirdT{
    font-size:43px; 
    margin-left:150px; 
    margin-top:130px; 
    margin-bottom:120px; 
    padding:40px; 
    background-color:#D4B996FF; 
    color:black; 
}


.thirdImg{
    width:400px; 
    margin-right:60px; 
    border:4px solid black;
}

.fourthSec{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.fourthT{
    font-size:43px; 
    margin-right:60px;
    margin-top:90px; 
    margin-bottom:90px; 
    padding:60px; 
    background-color:#D4B996FF; 
    color:black; 
}

.image{
    display:flex;
    justify-content:center; 
    border:2px dashed #D4B996FF; 
    background-color: #D4B996FF;
  
 }

 .fourthImg{
    border:4px solid black;
 }

 .quote2{
    font-size:50px; 
    text-align:center;
    background-color: #D4B996FF; 
    font-family: 'Bebas Neue', cursive;
 }



  * {box-sizing: border-box}
  body {font-family: Verdana, sans-serif; }
  .mySlides {display: none}
  .item {
   margin-left:300px; 
   padding-right:200px; 
   padding-left:200px;
   padding-top:100px;
   padding-bottom:75px;
   object-fit: cover;
    background-color:#D4B996FF;

}
  
  /* Slideshow container */
  .slideshow-container {
    display:flex;
    
    max-width: 300px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position:absolute;
    top: 50%;
    width: auto;
    padding: 36px;
    margin-top: 2502px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev{
    margin-left:-10px; 
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
 
  
  /* Number text (1/3 etc) */

  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }