@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

.navBar{
    background-color:black;
    display:flex;
    justify-content:space-evenly;
   margin-right:-50px; 
   margin-left:-10px; 
   margin-top:-10px; 
   
}

.about{
    margin-right: 50px; 
    padding:10px; 
    padding-top:25px; 
    background-color:black; 
    text-decoration: none;
    font-size:25px; 
    color:white;
}

.about:hover{
    background-color:white;
    color:black;
}

.logo{
    color:white; 
}

.gallery{
    font-size:25px; 
    padding:10px; 
    padding-top:25px;  
    text-decoration: none;
    color:white;
}

.gallery:hover{
    background-color:white;
    color:black; 
}


@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");



#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: 'Nova Square', cursive;
    font-size: 80pt;

    text-align: center;

    user-select: none;
}

h1, h2{
    
    text-align:center; 
    font-family: 'Nova Square', cursive;

}
